footer.b-footer
	.container
		.row
			.col-md-5 
				a(href="#")
					img(src="img/logo.png", alt="1").b-footer__logo
			.col-md-4
				p.b-footer__text Copyright 2015 Renome by Estetiq
			.col-md-3
				p.b-footer__text__icon Follow US:	
				a(href="#",target="_blank").b-footer__icon.b-footer__icon__twit
					i.fab.fa-twitter.fa-1x
				a(href="#",target="_blank").b-footer__icon.b-footer__icon__face
					i.fab.fa-facebook-f.fa-1x
				a(href="#",target="_blank").b-footer__icon.b-footer__icon__google
					i.fab.fa-google-plus-g.fa-1x.b-footer__icon__google.b-footer__google
		
	#toTop
		svg#Calque_1.__web-inspector-hide-shortcut__(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='512px', height='512px', viewbox='0 0 512 512', enable-background='new 0 0 512 512', xml:space='preserve')
			path(fill='#000', d='M467.354,331.644c0,0,30.214,30.244,0,60.485c-30.246,30.218-60.432,0-60.432,0L255.818,240.995\
	L104.682,392.129c0,0-30.134,30.218-60.487,0c-30.132-30.242,0-60.485,0-60.485l181.379-181.295c0,0,30.245-30.187,60.431,0\
	C316.246,180.592,467.354,331.644,467.354,331.644z')


