footer.b-footer
	.container
		.row
			.col-md-5 
				a(href="#")
					img(src="img/logo.png", alt="1").b-footer__logo
			.col-md-4
				p.b-footer__text Copyright 2015 Renome by Estetiq
			.col-md-3
				p.b-footer__text__icon Follow US:	
				a(href="#",target="_blank").b-footer__icon.b-footer__icon__twit
					i.fab.fa-twitter.fa-1x
				a(href="#",target="_blank").b-footer__icon.b-footer__icon__face
					i.fab.fa-facebook-f.fa-1x
				a(href="#",target="_blank").b-footer__icon.b-footer__icon__google
					i.fab.fa-google-plus-g.fa-1x.b-footer__icon__google.b-footer__google
		


