header.b-header
	.b-header__nav
		.container
			.row
				.col-md-2
					a(href="#")
						img(src="../img/logo.png", alt="logo").b-header__logo
				.col-md-10
					.b-header__menu
						ul
							li
								a(href="#") Home
							li
								a(href="#about") About
							li
								a(href="#") Menu
							li
								a(href="#") RESERVATIONS
							li
								a(href="#") BLOG
							li
								a(href="#") shop   
							li
								a(href="#") CONTACT
					i.fas.fa-search.b-header__search
					i.fas.fa-shopping-cart.b-header__cart
				#toggle.button_container
					span.button__span.top
					span.button__span.middle
					span.button__span.bottom
				#overlay.overlay
					nav.overlay-menu
						ul
							li
								a(href='#').b-header__link Home
							li
								a(href='#about').b-header__link About
							li
								a(href='#').b-header__link Menu
							li
								a(href='#').b-header__link Reservations
							li
								a(href='#').b-header__link Blog
							li
								a(href='#').b-header__link Shop
							li
								a(href='#').b-header__link Contact




 

				





