block first-line
|
|
doctype html
html(lang='en')
	head
		title Renome | Restaurant
		meta(name="description" content="")
		include ../inc/head


	body
		.wrapper
			include ../utils/mixins
			block header
				include ../inc/header

			|
			|
			block main
			|
			|
			include ../inc/footer
		
		block scripts

			script(src='https://code.jquery.com/jquery-3.3.1.js', integrity='sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=', crossorigin='anonymous')
			script(src='https://cdn.jsdelivr.net/npm/vue')
			script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.min.js')

			script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
			
		
			

			script(defer='', src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')
			
			script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js")
			script(src='js/main.js')
			script.
				const vue = new Vue({
				   el: '.preloader',
				   data: {
				      loaded: 0,
				      loading: null,
				      loadStyle: {
				         width: '0%'
				      },
				      statusElem: $('[status]'),
				      loader: $('[loader]'),
				      body: $('body')
				   },
				   ready(){
				      this.preloader = $(this.$el);
				      this.removeScrolling();
				      this.startLoading();
				   },
				   watch: {
				      loaded(){
				         this.loadStyle.width = `${this.loaded}%`;
				      }
				   },
				   methods: {
				      removeScrolling(){
				         this.body.css('overflow','hidden');
				      },
				      startLoading(){
				         this.loading = setInterval(this.load, 80);
				      },
				      load(){
				         this.loaded < 100 ? this.loaded++ : this.doneLoading();
				      },
				      doneLoading(){
				         clearInterval(this.loading);
				         this.updateStatus();
				      },
				      updateStatus(){
				         this.statusElem.text('Welcome to our site');
				         this.loader.fadeOut();
				         this.animatePreloader();
				      },
				      animatePreloader(){
				         let app        = this, 
				             height     = this.preloader.height(),
				             properties = {
				                'margin-top': `-${height}`
				             },
				             options    = {
				                duration: 1000,
				                easing: 'swing',
				                complete(){
				                   app.removePreloader()
				                } 
				             };
				         this.preloader.delay(500).animate(properties, options)
				      },
				      removePreloader(){
				         this.preloader.remove();
				         this.body.removeAttr('style');
				         this.animateWebsite();
				      },
				      animateWebsite(){
				         console.log('lets get pretty');
				      }
				   }
				})